<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1532439771208-8fda693b96b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>ParkBot helps you to manage your parking lots!</h1>
    <p>Combining legacy hardware and cutting-edge software, ParkBot helps you to automate the tracking of your parking lot. Everything that you have ever wanted in an App now has become a click of distance.</p>
    <a class="btn btn-flat" href="#">Become a partner</a>
   </div>
</div>
